.mt-2{
    margin-top: 0.5rem;
}
.mt-3{
    margin-top: 0.5rem;
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 0.25rem;
}
.p-2{
    padding: 0.5rem;
}
.pt-1{
    padding-top: 0.25rem;
}

.bg-none{
    background: none;
}