.page{
    font-family:  "PingFang SC Semibold", "PingFang SC", "Ubuntu Mono", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}
.page--material__content,
.page__content{
    background: white;
}
.back-button__label{
    line-height: 48px;
}